@use "@styles/variables.module.scss" as variables;

.configMenuContainer {
  position: fixed;
  justify-content: end;
  display: flex;
  gap: 10px;
  align-items: center;
  top: 20px;
  right: 20px;
  z-index: 2;
  transition: all 0.6s;
  background: var(--Border-Button-Secondary);
  border-radius: 24px;
  width: 36px;

  @media (max-width: variables.$breakpoint-mobile) {
    top: 10px;
    right: 10px;
  }
}

.menuOpen {
  width: 120px;
}

.content {
  display: flex;
  gap: 8px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    max-height 0.3s ease-in-out;

  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.showContent {
  opacity: 1;
  visibility: visible;
}
