.message {
  padding: 10px 16px;
  color: var(--Text-Primary);
  font-size: 14px;
  font-family: sans-serif;
}

.userMessage {
  text-align: right;
}

.agentMessage {
  text-align: left;
  background-color: var(--Background-Message);
  border-radius: var(--Border-Radius-L);
  width: fit-content;
}

.loadingMessage {
  opacity: 0.7;
  font-style: italic;
}

.loadingDots {
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
