.button {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.color-primary {
  background: var(--Background-Button-Primary);
  border: 1px solid var(--Border-Button-Primary);
}

.color-secondary {
  background: var(--Background-Button-Secondary);
  border: 1px solid var(--Border-Button-Secondary);
}

.size-small {
  min-width: 28px;
  height: 28px;
  width: 28px;

  img {
    width: 16px;
    height: 16px;
  }
}

.size-medium {
  min-width: 36px;
  height: 36px;
  width: 36px;

  img {
    width: 24px;
    height: 24px;
  }
}
