.button {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  min-width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.color-primary {
  background: var(--Background-Button-Primary);
  border: 1px solid var(--Border-Button-Primary);
}

.color-secondary {
  background: var(--Background-Button-Secondary);
  border: 1px solid var(--Border-Button-Secondary);
}
