.button {
  align-items: center;
  justify-content: center;
  display: flex;
  background: white;
  border-radius: 100%;
  min-width: 36px;
  height: 36px;
  border: 1px solid var(--Background-Disabled);
  cursor: pointer;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
