@use "@styles/variables.module.scss" as variables;

.appContainer {
  padding: 2rem;
  text-align: center;

  h1 {
    color: var(--Header-Primary);
  }

  @media (max-width: variables.$breakpoint-mobile) {
    padding: 1rem;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
